@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url(../fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf) format("truetype");
}
* {
  font-family: "Oswald";
}

.interface {
  position: absolute;
  display: flex;
  width: 100%;
  height: 10vw;
  top: 80%;
  background-color: aliceblue;
  z-index: 5;
}

.interface__healsbar {
  position: absolute;
  display: flex;
  width: 35vw;
  height: 40%;
  background-color: rgb(0, 0, 0);
  border: solid 0.3vw black;
}

#lifePanel {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#HP {
  background-color: rgb(164, 0, 0);
  width: 100%;
  height: 100%;
}

#HPcount {
  position: absolute;
  width: 100%;
  top: 15%;
  text-align: center;
  font-size: 2vw;
  color: rgb(210, 210, 210);
}

#lifeText {
  position: absolute;
  top: 75%;
}

.interface__slot {
  width: 50%;
  height: 50%;
  border: solid 0.3vw black;
  background-color: rgb(172, 172, 172);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.interface__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 100%;
  background-color: rgb(84, 80, 84);
  border: solid 0.3vw black;
}

.interface__text {
  font-size: 1.5vw;
}

#menuButton {
  width: 8vw;
  height: 7vw;
  font-size: 2vw;
  background-color: rgb(113, 113, 113);
  border: solid 0.3vw black;
}

#menuButton:hover {
  background-color: rgb(161, 161, 161);
}

@media screen and (max-height: 480px) {
  .interface {
    height: 6vw;
  }
  #healsbar {
    top: 10%;
  }
  #lifeText {
    top: 50%;
  }
  #HPcount {
    font-size: 1.5vw;
    top: 10%;
  }
}
#room {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 80%;
  border-bottom: solid 0.5vw black;
  border: 5vw inset;
  border-color: rgb(209, 209, 209) rgb(87, 87, 87) rgb(109, 109, 109) rgb(179, 179, 179);
}

#floor {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  background-size: 20%;
}

#doorButton {
  position: absolute;
  background: linear-gradient(180deg, #666666 0%, rgb(79, 79, 79) 100%);
  border-radius: 0 0 2vw 2vw;
  bottom: -4vw;
  width: 5vw;
  height: 4vw;
  border-right: 0.3vw solid #4c4c4c;
  border-left: 0.3vw solid #4c4c4c;
  border-bottom: 0.3vw solid #4c4c4c;
}

#doorTop {
  position: absolute;
  background: linear-gradient(180deg, rgb(0, 0, 0) 10%, #666666 100%);
  border-radius: 2vw 2vw 0 0;
  top: -4vw;
  width: 5vw;
  height: 4vw;
  opacity: 0;
  border-top: 0.3vw solid #5c5c5c;
  border-right: 0.3vw solid #5c5c5c;
  border-left: 0.3vw solid #5c5c5c;
}

.appearanceDoor {
  animation: appearanceDoor 1s forwards;
}

/* Анимация появления двери */
@keyframes appearanceDoor {
  from {
    opacity: 0;
  }
  to {
    box-shadow: 0 0 10vw 0.5vw rgba(255, 255, 255, 0.524);
    opacity: 1;
  }
}
.appearanceMessage {
  animation: appearanceMessage 5s forwards;
}

/* Анимация появления сообщения Сколько уровней осталось? */
@keyframes appearanceMessage {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
#levelText {
  position: absolute;
  left: 2vw;
  top: 2vw;
  opacity: 0.3;
  font-size: 1.5vw;
  z-index: 1;
  color: white;
}

#gameField {
  position: absolute;
  display: flex;
  margin: 1%;
  width: 98%;
  height: 48vw;
}

@keyframes animationForMenu {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes animationForWindowChest {
  from {
    transform: translate(-10%, -100%);
  }
  50% {
    transform: translate(0, 0);
    transform: rotate(2deg);
  }
  80% {
    transform: translate(0, -5%);
  }
  to {
    transform: translate(0, 0);
  }
}
.records-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 2% 5% 1% 5%;
  font-size: 5vw;
}

.records-section__name {
  background-color: #b7b7b7;
  border: solid black 0.2vw;
  border-radius: 30% 30% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vw;
}

.records-section__table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2vw;
}

.records-section__slot {
  border: solid black 0.1vw;
  background-color: #b7b7b7;
  width: 50%;
  height: 4vw;
  padding: 1%;
}

.description {
  margin: 0 10%;
  font-size: 1.5vw;
}

.exitRecordsButton {
  width: 10vw;
  margin: 2%;
  font-size: 2vw;
  border: solid black 0.3vw;
  border-radius: 20%;
}

.main-menu {
  background-color: #4c4c4c;
  background-image: url(/Project/SVGLibrary/Dungeon_Logo.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 23% 33% 0;
  gap: 5vh;
}

.main-menu__button {
  width: 100%;
  height: 10vw;
  font-size: 3vw;
  border: solid black 0.5vw;
  border-radius: 20%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #4c4c4c;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=main_styles.css.map */