@import "_interface_styles.scss";
@import "_room_styles.scss";

#levelText {
	position: absolute;
	left: 2vw;
	top: 2vw;
	opacity: 0.3;
	font-size: 1.5vw;
	z-index: 1;
	color: white;
}

#gameField {
	position: absolute;
	display: flex;
	margin: 0 1%;
	width: 98%;
	height: 48vw;
}

@keyframes animationForMenu {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes animationForWindowChest {
	from {
		transform: translate(-10%, -100%);
	}
	50% {
		transform: translate(0, 0);
		transform: rotate(2deg);
	}
	80% {
		transform: translate(0, -5%);
	}
	to {
		transform: translate(0, 0);
	}
}

#mobileController {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 30%;
	font-size: 2vw;
	z-index: 5;
	position: absolute;
	left: 5%;
	top: 30%;
}

#mobileController__UpAndDown {
	position: absolute;
	flex-direction: column;
	display: flex;
	top: -20%;
}

#mobileController__LeftAndRight {
	display: flex;
	width: 40%;
	position: absolute;
	left: 85%;
	top: 20%;
}

.mobileController__button {
	height: 9vw;
	width: 9vw;
	background-color: rgb(136, 136, 136);
	border-radius: 10%;
	opacity: 0.5;
	margin: 1vw;
	background-position: center;
}
