@import "_interface_styles.scss";
@import "_room_styles.scss";

#levelText {
	position: absolute;
	left: 2vw;
	top: 2vw;
	opacity: 0.3;
	font-size: 1.5vw;
	z-index: 1;
	color: white;
}

#gameField {
	position: absolute;
	display: flex;
	margin: 1%;
	width: 98%;
	height: 48vw;
}

@keyframes animationForMenu {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes animationForWindowChest {
	from {
		transform: translate(-10%, -100%);
	}
	50% {
		transform: translate(0, 0);
		transform: rotate(2deg);
	}
	80% {
		transform: translate(0, -5%);
	}
	to {
		transform: translate(0, 0);
	}
}
