* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: rgb(30, 30, 30);
}

#levelText {
	position: absolute;
	left: 2vw;
	top: 2vw;
	opacity: 0.3;
	font-size: 1.5vw;
	z-index: 1;
	color: white;
}

body {
	overflow: hidden;
	user-select: none;
}
