.records-section {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 2% 5% 1% 5%;
	font-size: 5vw;
}

.records-section__name {
	background-color: #b7b7b7;
	border: solid black 0.2vw;
	border-radius: 30% 30% 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10vw;
}

.records-section__table {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-size: 2vw;
}

.records-section__slot {
	border: solid black 0.1vw;
	background-color: #b7b7b7;
	width: 50%;
	height: 4vw;
	padding: 1%;
}

.description {
	margin: 0 10%;
	font-size: 1.5vw;
}

.exitRecordsButton {
	width: 10vw;
	margin: 2%;
	font-size: 2vw;
	border: solid black 0.3vw;
	border-radius: 20%;
}
