@import "_fonts.scss";
@import "_gamePage_styles.scss";
@import "_recordsPage_styles.scss";
@import "_mainMenuPage_styles.scss";
@import "_RulesPage_styles.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #4c4c4c;
	user-select: none;
	overflow: hidden;
}

.exitToMainMenuButton {
	width: 10vw;
	margin: 2%;
	font-size: 2vw;
	border: solid black 0.3vw;
	border-radius: 2vw;
}
